{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<style>
    body {
        font-family: 'Montserrat Alternates', sans-serif;
    }
    
    .btn-primary {
        background-color: #4E067F;
        color: white;
        border: none;
        font-size: 0.9em;  /* Уменьшение размера кнопки */
    }

    .btn-primary:hover {
        background-color: #4E067F;
        color: white;
        border: none;
        box-shadow: rgba(53, 5, 48, 0.4) 0px 2px 4px, rgba(53, 5, 48, 0.4) 0px 7px 13px -3px, rgba(53, 5, 48, 0.4) 0px -3px 0px inset;
    }
        
    .btn-edit {
        background-color: #5A189A;
        color: white;
        border: none;
        margin-bottom: 10px;
    }

    .btn-edit:hover {
        background-color: #5A189A;
        color: white;
        border: none;
        box-shadow: rgba(53, 5, 48, 0.4) 0px 2px 4px, rgba(53, 5, 48, 0.4) 0px 7px 13px -3px, rgba(53, 5, 48, 0.4) 0px -3px 0px inset;
    }
    
    .form-group {
        text-align: center;  /* Центровка полей формы */
    }
    
    .form-group label {
        display: block;  /* Лейблы и поля на отдельных строках */
    }
    
    .card-footer a {
        color: inherit;  /* Убрать синий цвет ссылки */
        text-decoration: underline;  /* Добавить подчеркивание */
    }
    .card-footer a:hover {
        color: inherit;  /* Убрать синий цвет ссылки */
        text-decoration: none;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">  <!-- Уменьшение ширины колонки -->
            <div class="card">
                <div class="card-header text-center pt-4">
                    <h2>Авторизация</h2>
                </div>
                <div class="card-body mt-2">
                    <form action="{% url 'account:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{form.username}}
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mt-2 ">Войти</button>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>Пожалуйста, используйте следующую форму для входа. Если у вас нет учетной записи, <a href="{% url 'account:register' %}">зарегистрируйтесь здесь</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
